{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'admin/css/about.css' %}" type="text/css">

<div class="container" >
    <h1 style="font-weight: bold;">Eunjung Lee,<h1>
    <br>
    <h3>github<h3>
    <a href="https://github.com/eunjungleecub"><img class="logo" src="{% static 'admin/img/octocat.png' %}"></a>
    <br>
    <br>
    <h3>contacts<h3>
    <a href="https://www.linkedin.com/in/eunjungleecub/"><img class="logo" src="{% static 'admin/img/linkedin.png' %}"></a>
    <a href="mailto:asaprocky123@likelion.org"><img class="logo" src="{% static 'admin/img/gmail.png' %}"></a>
    <a href="https://www.instagram.com/jessi_sassi"><img class="logo" src="{% static 'admin/img/instagram.png' %}"></a>
    <a href="https://www.tumblr.com/blog/jessica-peninsula"><img class="logo" src="{% static 'admin/img/tumblr.png' %}"></a>
    <a href="https://medium.com/@asaprocky123"><img class="logo" src="{% static 'admin/img/medium.png' %}"></a>
    <a href="https://www.facebook.com/jackierobinson42db"><img class="logo" src="{% static 'admin/img/facebook.png' %}"></a>

    <br>
    <br>

</div>

{% endblock %}