{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<link rel="stylesheet" href="{% static 'admin/css/dogs.css' %}" type="text/css">

<div class="container">
    <h1>
        <img src="{% static 'admin/img/shibe.png' %}" alt="shibe" width="40px" style="display: inline;">
        DOGS love
        <img src="{% static 'admin/img/shibe.png' %}" alt="shibe" width="40px" style="display: inline;">
    </h1>

    <br>

    <p>
        아래는 제가 가장 좋아하는 강아지 영상을 준비했습니다.
        <br>
        모두들 꼭 보세요.
        <br>
        <br>
        <a href="https://blog.theodo.com/2018/01/responsive-iframes-css-trick/">
        responsive-iframes-css-trick</a>
    </p>
</div>
    <br>
    <div class="youtube">
        <iframe class="youtubevid" src="https://www.youtube.com/embed/5pLCmLgjiJ8" gesture="media" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
    </div>
    <br>
    <br>
    <div class="youtube">
        <iframe class="youtubevid" src="https://www.youtube.com/embed/huVo6a7cbZ4" gesture="media" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
    </div>
    


{% endblock %}