{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'admin/css/photos.css' %}" type="text/css">


<!-- MAIN (Center website) -->
<div class="main">

<!-- Gallery Grid -->
<div class="row">

    {% for photo in photos.all %}

    <div class="column" style="height: 250px;"> 
        <div class="content">
            <img src="{{ photo.image.url }}" alt="{{ photo.title }}" style="width: 100%;">
        </div>
    </div>

    {% endfor %}

</div>
<!-- END GRID -->


{% endblock %}